---
import Navbar from "../components/Navbar.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio | Williams">
  <Navbar />

  <main class="container">
    <section>
      <p>Hola, me llamo Williams</p>
      <h1>
        DESARROLLADOR <br />
        FROTNEND<span class="blue-dot">.</span>
      </h1>
    </section>

    <Section
      id="sobre-mi"
      title="Sobre mí"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="proyectos"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />

    <Section
      class="sobre-mi"
      title="Proyectos"
      text="Desarrollador web en camino a ser full-stack. Mi enfoque actual está en el front-end, donde busco crear experiencias de usuario excepcionales. Mi meta es dominar el back-end para construir soluciones completas y robustas que impulsen la innovación."
    />
  </main>

</Layout>
