<header>
  <nav>
    <div class="logo">
      <a href="/">debuggeando<span class="blue-dot">.</span>dev</a>
    </div>

    <ul class="nav-links">
      <li><a href="#inicio">Inicio</a></li>
      <li><a href="#sobre-mi">Sobre mí</a></li>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#contacto">Contáctame</a></li>
    </ul>
  </nav>
</header>
